<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myproject2">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->

    <application
        android:allowBackup="true"
        android:label="폰중독방지"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Lock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LockSetting"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".BiometricPromptCallback" />
        <activity android:name=".BioCore"/>
        <activity android:name=".FingerPrint"/>
        <activity android:name=".Core"/>
        <activity android:name=".SelectTime"/>
        <activity android:name=".BaseActivity"/>

        <service
            android:name=".BackgroundService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <service
            android:name=".ViewService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" >
        </service>

        <service
            android:name=".AlarmActivity"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" >
        </service>

        <receiver
            android:name='AlarmBroadcastReceiver'>
        </receiver>
    </application>

</manifest>